<!DOCTYPE html>
<html>

<head>
	<title>☕ Blacktea</title>
	<script src="client.js"></script>
	<script src="transform.js"></script>
</head>

<body>

	<h1>Join Room!</h1>
	<form>
		<label for="roomID"></label><br>
		<input type="text" id="roomID" name="roomID"><br>
		<br><input type="submit" value="Submit">
	</form>

	<br><h1>Create Room!</h1>
	<button onclick="transform()">Create Room</button>

</body>

</html>